:root {
  --blue-logo: #2196f3;
  --hover-focus-link: #2196f3;
  --black: #212121;
  --title-color: #212121;
  --white-headline: #ffffff;
  --hover-focus-btn: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------------------------- HEADER --------------------------------- */

.header {
  padding-top: 22px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-logo);
}
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-focus-link);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--hover-focus-link);
}

/* ---------------------------------- ORDER --------------------------------- */

.order {
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 1);
}
.order-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-headline);
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto;
}
.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  background-color: rgba(33, 150, 243, 1);
}

/* -------------------------------- FEATURES -------------------------------- */

.features-subject {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}

/* -------------------------------- BENEFITS -------------------------------- */

.benefits {
  padding-bottom: 94px;
}
.benefits-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* ---------------------------------- TEAM ---------------------------------- */

.team {
  background: #f5f4fa;
}
.team-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-employee {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding: 30px 5px;
}
.team-employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-employee-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------------------------- CONTENT -------------------------------- */

.content-list-btn {
  padding-bottom: 16px;
  margin-bottom: 34px;
}
.content-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.content-btn:hover,
.content-btn:focus {
  color: var(--hover-focus-btn);
  background-color: #2196f3;
}
.content-item {
  width: 370px;
  height: 404px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.content-container {
  padding: 20px 24px;
}
.content-caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.content-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
