:root {
  --accent-color: #2196f3;
  --black: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --icons: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------------------------- HEADER --------------------------------- */

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.black {
  color: var(--black);
}
.white {
  color: var(--white-color);
}
.header-nav {
  margin-left: 93px;
}
.header-list {
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.active-pages {
  color: var(--accent-color);
  position: relative;
}
.active-pages::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  top: 47px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-list-address {
  margin-left: auto;
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: color var(--transition);
}
.header-contact-icon {
  fill: var(--icons);
  margin-right: 10px;
  transition: fill var(--transition);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.header-contact:hover .header-contact-icon,
.header-contact:focus .header-contact-icon {
  fill: var(--accent-color);
}
/* ---------------------------------- ORDER --------------------------------- */

.order {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/order-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.order-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.order-btn {
  min-width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  background-color: rgba(33, 150, 243, 1);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -------------------------------- FEATURES -------------------------------- */
.features-list {
  display: flex;
  column-gap: 30px;
}
.features-icon {
  fill: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.features-subject {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  max-width: 270px;
}

/* -------------------------------- BENEFITS -------------------------------- */

.benefits {
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  column-gap: 30px;
}
.benefits-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.benefits-inner {
  position: relative;
}
.benefits-desc {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

/* ---------------------------------- TEAM ---------------------------------- */

.team {
  background: var(--background-color-2);
}
.team-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-employee {
  width: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding: 30px 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 4px 4px;
}
.team-employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-employee-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--grey-color);
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: border-radius, background-color var(--transition);
}
.team-soc-icon {
  fill: var(--icons);
  transition: fill var(--transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

/* --------------------------------- CLIENTS -------------------------------- */

.clients-headline {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-top: 94px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}
.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons);
  border-radius: 5px;
  background-color: transparent;
  transition: border var(--transition);
}
.clients-icon {
  fill: var(--icons);
  transition: fill var(--transition);
}
.clients-icon-link:hover,
.clients-icon-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-icon-link:hover .clients-icon,
.clients-icon-link:focus .clients-icon {
  fill: var(--accent-color);
}
/* --------------------------------- FOOTER --------------------------------- */

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:nth-last-child(1) {
  margin-bottom: 0;
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.footer-contact:focus,
.footer-contact:hover {
  color: var(--accent-color);
}
.footer-title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}
.footer-soc-list {
  display: flex;
  column-gap: 10px;
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color, border-radius, var(--transition);
}
.footer-soc-icon {
  fill: var(--white-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* --------------------------------- CONTENT -------------------------------- */

.content-list-btn {
  margin-bottom: 50px;
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
.content-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}
.active-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.content-btn:hover,
.content-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.content-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.content-item {
  width: 370px;
  height: 404px;
  transition: box-shadow var(--transition);
}
.content-holder {
  position: relative;
  overflow: hidden;
}
.content-desk {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
  overflow: auto;
}
.content-item:hover,
.content-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-item:hover .content-desk,
.content-item:focus .content-desk {
  transform: translateY(0%);
}
.content-container {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: transparent;
}
.content-caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
  margin-bottom: 4px;
}
.content-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* ---------------------------------- MODAL --------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 600px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  position: relative;
}
.modal-close-btn {
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 12px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-input::last-child {
  margin-bottom: 0;
}
.form-input-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
}
.form-input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-btn-send {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  margin: 0 auto;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
}
.modal-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  margin-bottom: 4px;
}
.modal-agreement {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.agreement-desk {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.agreement-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
