.clients__headline {
  @include text-base(null, 36px, 1.17, 0.03em);
  text-align: center;
  color: $black;
  padding-top: 94px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}
.clients__link {
  @extend %centering;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $icons;
  border-radius: 5px;
  background-color: transparent;
  transition: border $transition;
  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}
.clients__icon {
  fill: $icons;
  transition: fill $transition;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accentColor;
  }
}
