.clients-headline {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
  padding-top: 94px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}
.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $icons;
  border-radius: 5px;
  background-color: transparent;
  transition: border $transition;
  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}
.clients-icon {
  fill: $icons;
  transition: fill $transition;
  .clients-icon-link:hover &,
  .clients-icon-link:focus & {
    fill: $accentColor;
  }
}
