.features-list {
  display: flex;
  column-gap: 30px;
}
.features-icon {
  fill: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $colorBackground;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.features-subject {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $greyColor;
  max-width: 270px;
}
