.features-list {
  display: flex;
  column-gap: 30px;
}
.features-icon {
  fill: $black;
  @extend %centering;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $colorBackground;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.features-subject {
  @include text-base(null, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-desc {
  @include text-base(null, 14px, 1.71, 0.03em);
  color: $greyColor;
  max-width: 270px;
}
