.header {
  border-bottom: 1px solid $headerBorder;
  &__container {
    @extend %align-centering;
  }
}
.header__logo {
  @extend %logo-styles;
  span {
    color: $black;
  }
}
.header__navigation {
  margin-left: 93px;
}
.navigation__list {
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link {
  @include text-base(500, 14px, 1.14, 0.02em);
  color: $black;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.header__connect {
  margin-left: auto;
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.connect__contact {
  @include text-base(500, 14px, 1.14, 0.02em);
  color: $greyColor;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.connect__icon {
  fill: $icons;
  margin-right: 10px;
  transition: fill $transition;
  .connect__contact:hover &,
  .connect__contact:focus & {
    fill: $accentColor;
  }
}
