.header {
  border-bottom: 1px solid $headerBorder;
  &__container {
    @extend %align-centering;
  }
}
.header__logo {
  @extend %logo-styles;
  span {
    color: $black;
  }
}
.header__navigation {
  @media screen and (min-width: 768px) {
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 92px;
  }
}
.navigation__list {
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link {
  @include text-base(500, 14px, 1.14, 0.02em);
  color: $black;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.header__connect {
  margin-left: auto;
  display: flex;
  row-gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 30px;
  }
}
.connect__contact {
  @include text-base(500, 14px, 1.14, 0.02em);
  color: $greyColor;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
  @media screen and (min-width: 768px) {
    @include text-base(500, 12px, 1.18, 0.02em);
  }
  @media screen and (min-width: 1200px) {
    @include text-base(500, 14px, 1.14, 0.02em);
  }
}
.connect__icon {
  fill: $icons;
  margin-right: 10px;
  transition: fill $transition;
  .connect__contact:hover &,
  .connect__contact:focus & {
    fill: $accentColor;
  }
}
